ol {
    list-style: none;
}
nav a {
    text-decoration: none;
    color: rgb(241, 240, 240);
}
.navbar {
    background-color: #735557 
    !important;
    padding-bottom: 1.1rem !important; /* hola, soy gonzalo, agregue esto para que el navbar no deje una linea debajo entre el mismo y la imagenes del carrousel, basicamente aumenta el espacio inferior. */
}
nav li :hover {
    color: rgb(0, 0, 0) !important;
}

nav button {
    border-radius: 7px !important;
    background-color: #D29F80 !important;
}
button a:hover {
    color: #97866A !important;
}
nav button:hover {
    color: #97866A !important;
}
body {
    padding-top: 71px;
}
.modal-backdrop {
    display: none !important;
}

