ol {
    list-style: none;
}

/* para que las imágenes del slider y cards no se desacomoden*/
.object-fit-cover { object-fit: cover; }

/* para darle un alto mínimo al bloque publicitario del sidebar */
.ratio-16x9 { min-height: 160px; }

.carousel-caption h5 {
    color: white;
}

.carousel-caption p {
    color: white;
}

/* agregue una sombra leve al texto para que se lea mejor en las imagenes, de todas formas las imagenes son temporales, a modo de ejemplo */
.carousel-caption h5,
.carousel-caption p {
    text-shadow: 6px 6px 12px black;
}

/* Altode  miniaturas de entradas */
.card-img-top.object-fit-cover { height: 240px; }

/* Fondo de la parte de texto en las entradas */
.card-body {
    background-color: grey;
}

/* Título de la entrada */
.card-body .card-title {
    color: white;
}

/* Texto de la entrada */
.card-body .card-text {
    color: white; 
}

/* bordes de las cards */
.card {
    border: 6px solid lightblue;
    border-radius: 8px;     
}